<app-tab-menu [selected_tab]="2"></app-tab-menu>

<div class="card" style="margin-top: 30px">
  <div style="display: grid; justify-content: center">
    <div class="formgrid grid w-30rem">
      <h2>Apresentação</h2>
      <p>
        Somos o Grupo 5 da disciplina de ENGENHARIA DE SOFTWARE: IMPLEMENTAÇÃO E
        TESTES da UNISINOS. Composto pelos integrantes: Jonathan Cardarelli,
        Peterson Lima, Thomas Guilherme, Evandro Motta e João Miguel, nosso
        sistema foi desenvolvido com o intuíto de criar uma lista com
        informações de entidades sociais para que pessoas ou empresas que tenham
        o interesse de ajudá-las, possam obter as informações de forma fácil.
      </p>

      <h2>Informações técnicas</h2>
      <p>
        O back-end do nosso sistema foi desenvolvido em Nodejs, o front-end em
        Angular com a biblioteca PrimeNG e o banco de dados com PostgreSQL. 
      </p>
    </div>
  </div>
</div>
