.menu {
    display: flex;
    justify-content: center;
    width: 100%;
}

.user-icon {
    margin-top: 4px;
    margin-left: 10%;
    border: 1px solid #cccccc;
    border-radius: 50px;
    padding: 10px;
    background-color: #e6cefd;
}