<div class="card" style="margin-top: 60px">
  <h2>Criar uma nova conta</h2>

  <h5>Informações gerais</h5>

  <div class="field">
    <input
      type="text"
      pInputText
      placeholder="Nome"
      class="w-12"
    />
  </div>

  <div class="field">
    <input
      type="text"
      pInputText
      placeholder="CPF/CNPJ"
      class="w-12"
    />
  </div>

  <div class="formgrid grid">
    <div class="field col">
      <input
        type="password"
        pInputText
        placeholder="Insira uma senha"
      />
    </div>
    <div class="field col">
      <input
        type="password"
        pInputText
        placeholder="Repita sua senha"
      />
    </div>
  </div>

  <div class="formgrid grid">
    <div class="field col">
      <input
        type="text"
        pInputText
        placeholder="Email"
        class="w-16rem mr-3"
      />
      <input
        type="text"
        pInputText
        placeholder="Telefone"
        class="w-10rem"
      />
    </div>
  </div>

  <h5>Endereço</h5>

  <div class="formgrid grid">
    <div class="field col">
      <p-dropdown
        [options]="estados"
        [(ngModel)]="estadoSelecionado"
        optionLabel="nome"
        optionValue="sigla"
        placeholder="Selecione o estado"
      ></p-dropdown>
    </div>

    <div class="field col">
      <input
        type="text"
        pInputText
        class="p-inputtext-md"
        placeholder="Município"
      />
    </div>
  </div>

  <div class="formgrid grid">
    <div class="field col">
      <input
        id="lastname1"
        type="text"
        pInputText
        placeholder="Logradouro"
        class="w-17rem mr-3"
      />
      <input
        id="lastname1"
        type="number"
        pInputText
        placeholder="Número"
        class="w-9rem"
      />
    </div>
  </div>

  <div class="card">
    <div class="flex justify-content-end flex-wrap card-container">
      <button
        pButton
        pRipple
        type="button"
        label="Cancelar"
        class="p-button-help p-button-text mr-3"
        routerLink="/"
      ></button>

      <p-button label="Cria conta" ></p-button>
    </div>
  </div>
</div>
