<div class="card" style="margin-top: 60px" [formGroup]="formGroup">
    <h2>Editar usuário</h2>
  
    <h5>Informações gerais</h5>
  
    <div class="field">
      <input formControlName="nome" type="text" pInputText placeholder="Nome" class="w-12" />
    </div>
  
    <div class="field">
      <input formControlName="cpfCnpj" type="text" pInputText placeholder="CPF/CNPJ" class="w-12" />
    </div>
  
    <div class="formgrid grid">
      <div class="field col">
        <input formControlName="senha" type="password" pInputText placeholder="Insira uma senha" />
      </div>
      <div class="field col">
        <input formControlName="confirma_senha" type="password" pInputText placeholder="Repita sua senha" />
      </div>
    </div>
  
    <div class="formgrid grid">
      <div class="field col">
        <input formControlName="email" type="text" pInputText placeholder="Email" class="w-16rem mr-3" />
        <input formControlName="telefone" type="text" pInputText placeholder="Telefone" class="w-10rem" />
      </div>
    </div>
  
    <h5>Endereço</h5>
  
    <div class="formgrid grid">
      <div class="field col">
        <p-dropdown formControlName="uf" [options]="estados" optionLabel="nome" optionValue="sigla" placeholder="Selecione o estado">
        </p-dropdown>
      </div>
  
      <div class="field col">
        <input formControlName="municipio" type="text" pInputText class="p-inputtext-md" placeholder="Município" />
      </div>
    </div>
  
    <div class="formgrid grid">
      <div class="field col">
        <input formControlName="logradouro" type="text" pInputText placeholder="Logradouro" class="w-17rem mr-3" />
        <input formControlName="numero" type="number" pInputText placeholder="Número" class="w-9rem" />
      </div>
    </div>
  
    <div class="card">
      <div class="flex justify-content-end flex-wrap card-container">
        <button pButton pRipple type="button" icon="pi pi-trash" class="p-button-rounded p-button-danger p-button-outlined mr-auto" routerLink="/" (click)="deletarUsuario()"></button>

        <button pButton pRipple type="button" label="Cancelar" class="p-button-outlined ml-1 mr-3"
          routerLink="/lista-entidades-sociais"></button>
  
        <p-button label="Gravar alterações" (click)="gravarUsuario()"></p-button>
      </div>
    </div>
  </div>
  